.additionally 
    .container-add
        .additionally_info 
            .first-pic 
                img.first-pic__first-one(src="./assets/imgs/in_use_with.png", alt="img")
            .dirty-dishes 
                p.dirty-dishes__hashtag #DirtyDishes
                h4.dirty-dishes__meaning A full sink is a sign of a great night. You wash, we'll dry.
                a.dirty-dishes__link(href="#") Follow Along
            .last-pic 
                img.last-pic__second-one(src="./assets/imgs/in_use_without.png", alt="img")