.bottom 
    .container 
        .important
            .name 
                p.name__company © Our Place 2021
                a.name__link(href="#") Copyright 2021
                a.name__link(href="#") Privacy
                a.name__link(href="#") Terms
                a.name__link(href="#") Returns
                a.name__link.name__link--click(href="#") 
                    img.name__disabled(src="../assets/imgs/disabled.png", alt="img")