.catalog 
    .container 
        .collection 
            h3.collection__info From curated essentials to limited-run editions.
            p.collection__we-make We make products inspired by traditions – and we're starting with one you might be familiar with: Dinner.
        .products
            .bowls
                img.bowls__design(src="./assets/imgs/bowl.png", alt="img")
                a.bowls__title(href="#") Side Bowls
                p.bowls__price SET OF 4 -$45
                p.bowls__description Hand-painted porcelain stackable bowls, designed for plating, eating, and scooping.
                img.bowls__decor(src="./assets/imgs/bowl_color.png", alt="img")
            .glasses 
                img.glasses__design(src="./assets/imgs/glass.png", alt="img")
                a.glasses__title(href="#") Drinking Glasses
                p.glasses__price SET OF 4 -$50
                p.glasses__description Hand-made and stackable. Made from recycled glass and natural sand. Naturally colored, without dyes.
                img.glasses__decor(src="./assets/imgs/glass_color.png", alt="img")
            .plates 
                img.plates__design(src="./assets/imgs/plate.png", alt="img")
                a.plates__title(href="#") Main Plates
                p.plates__price SET OF 4 -$50
                p.plates__description Hand-painted porcelain plates, stackable and designed for big appetites.
                img.plates__decor(src="./assets/imgs/plate_color.png", alt="img")
            .pan
                img.pan__design(src="./assets/imgs/pan.png", alt="img")
                a.pan__title(href="#") Always Pan
                p.pan__price $145
                p.pan__description Thoughtfully designed to be the perfect size and shape to do the work of eight pieces of traditional cookware.
                img.pan__decor(src="./assets/imgs/pan_color.png", alt="img")