.design 
    .container 
        .first_section
            h4.first_section__description Designed for Everything and Always
            img.first_section__colors(src="./assets/imgs/color.png", alt="img")