footer.footer
    .container 
        .content 
            .follow
                h4.follow__title Keep in touch
                p.follow__text Be the first to know about new collections, special events, and what’s going on at Our Place.
                .email 
                    input.email__write(type="text" placeholder="Your email")
                    button.email__send Submit
            .navigation
                .useful-links 
                    .shop
                        p.shop__top Shop
                        ul.shop__list 
                            li.shop__link
                                a.shop__click(href="#") Main Plates
                            li.shop__link
                                a.shop__click(href="#") Side Bowls
                            li.shop__link
                                a.shop__click(href="#") Drinking Glasses
                            li.shop__link
                                a.shop__click(href="#") Family Dinner Bundle
                    .countries
                        p.countries__location You're In
                        img.countries__img1(src="../assets/imgs/usa.png", alt="img")
                        img.countries__img2(src="../assets/imgs/canada.png", alt="img")
                .company 
                    p.company__top Company
                    ul.company__list
                        li.company_link
                            a.company__click(href="#") Mission
                        li.company_link
                            a.company__click(href="#") FAQs
                        li.company_link
                            a.company__click(href="#") Contact Us
                        li.company_link
                            a.company__click(href="#") Returns
                        li.company_link
                            a.company__click(href="#") Bulk Orders
                        li.company_link
                            a.company__click(href="#") Careers
                .social
                    p.social__top Social
                    ul.social__list
                        li.social__link
                            a.social__click(href="#") Instagram
                        li.social__link
                            a.social__click(href="#") Twitter