header.header 
    .container.header__row
        .header__content 
            ul.navigation
                li.navigation__item
                    a.navigation__link(href="#") Shop
                li.navigation__item
                    a.navigation__link(href="#") Always Pan
            a.logo(href="#") 
                img.logo__img(src="./assets/imgs/logo.svg", alt="img")
            ul.navigation
                li.navigation__item
                    a.navigation__link(href="#") Mission
                li.navigation__item
                    a.navigation__link(href="#") FAQs
                li.navigation__item
                    a.navigation__link-inverse(href="#") 0