.main
    .container 
        .main-section
            p.main-section__small-text Meet The Always Pan
            h2.main-section__heading Your new
            h2.main-section__heading-decor skillet
            a.main-section__orange-btn(href="#") Shop the Always Pan 