.partners
    .container 
        .partners__description
            p.partners__slogan "Doing the job of eight traditional cookware pieces"
        .partners__logo 
            img.partners__first(src="./assets/imgs/bon_appetit.png", alt="img")
            img.partners__second(src="./assets/imgs/the_new_york_times.png", alt="img")
            img.partners__third(src="./assets/imgs/vogue.png", alt="img")
            img.partners__fourth(src="./assets/imgs/the_oprah_magazine.png", alt="img")