.test 
    .container 
        .elements
            img.elements__design(src="./assets/imgs/instruction.png", alt="img")
            p.elements__character-first Modular lid to release & trap steam
            p.elements__character-second 2 easy-pour spouts
            p.elements__character-third Exclusive, ceramic nonstick made without PFOAs & PTFEs
            p.elements__character-fourth Beechwood spatula & built-in spoon rest
            p.elements__character-fifth Nesting steamer basket & colander
            p.elements__character-sixth Stay cool handle
            img.elements__rectangle-first(src="../assets/imgs/rectangle.png", alt="img")
            img.elements__rectangle-second(src="../assets/imgs/rectangle.png", alt="img")
            img.elements__rectangle-third(src="../assets/imgs/rectangle.png", alt="img")
            img.elements__rectangle-fourth(src="../assets/imgs/rectangle.png", alt="img")
            img.elements__rectangle-fifth(src="../assets/imgs/rectangle.png", alt="img")
            img.elements__rectangle-sixth(src="../assets/imgs/rectangle.png", alt="img")