//GRID
//точки адаптива
$lg: 1470px;
$md: 1024px;
$sm: 768px;
$xs: 425px;

//Цвета макета
$c-primary: #35312E;//основной цвет макета
$c-secondary: #6E635A;//дополнительный цвет макета
$c-text: #4F463F;//дополнительные цвета текста
$c-text2: #F5F1E9;//дополнительные цвета текста

// Рандомные переменные проекта

// Размер шрифта
$font-size-base: 10px;

// Шрифты
$body-font: 'Roboto', sans-serif;//основной
$headers-font: 'Roboto', sans-serif;//для заголовков
// $secondary-font: 'Roboto', sans-serif;//дополнительный